<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>be.iesca.tests.TestNG_RobotsDaoImpl</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>viderTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>listerTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>supprimerTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>AjoutTest</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>initialiserListeRobot</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
