<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a19f9d">  <td>14/05/13 12:23:12</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNG_RobotsDaoImpl.AjoutTest()[pri:0, instance:be.iesca.tests.TestNG_RobotsDaoImpl@5a5622]">AjoutTest</td> 
  <td>main@28737396</td>   <td></td> </tr>
<tr bgcolor="a19f9d">  <td>14/05/13 12:23:12</td>   <td>-7</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNG_RobotsDaoImpl.initialiserListeRobot()[pri:0, instance:be.iesca.tests.TestNG_RobotsDaoImpl@5a5622]">&gt;&gt;initialiserListeRobot</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@28737396</td>   <td></td> </tr>
<tr bgcolor="a19f9d">  <td>14/05/13 12:23:12</td>   <td>540</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNG_RobotsDaoImpl.listerTest()[pri:0, instance:be.iesca.tests.TestNG_RobotsDaoImpl@5a5622]">listerTest</td> 
  <td>main@28737396</td>   <td></td> </tr>
<tr bgcolor="a19f9d">  <td>14/05/13 12:23:12</td>   <td>559</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNG_RobotsDaoImpl.supprimerTest()[pri:0, instance:be.iesca.tests.TestNG_RobotsDaoImpl@5a5622]">supprimerTest</td> 
  <td>main@28737396</td>   <td></td> </tr>
</table>
