<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>be.iesca.tests.TestNG_UserDao</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>test1</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>test4</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>test2</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>test3</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>be.iesca.tests.TestNG_Parser</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testPostgres5</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testPostgres6</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testPostgres3</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testMockPostgres1</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testPostgres4</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testPostgres7</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testPostgres1</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testPostgres2</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testMock6</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testMock5</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testMock4</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testMock3</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testMock2</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testMock1</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>be.iesca.tests.TestNG_ClasseRobotDao</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testSupprimer</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testLister</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testAjouter</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testRechercher</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>initialiserListeClasseRobots</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>viderLaTable</td>
<td>&nbsp;</td></tr>
</table>
