<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Tests de la couche de persistance</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6bf0aa">  <td>14/03/03 14:10:02</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNG_Parser.testMock1()[pri:0, instance:be.iesca.tests.TestNG_Parser@10276f2]">testMock1</td> 
  <td>main@17510567</td>   <td></td> </tr>
<tr bgcolor="6bf0aa">  <td>14/03/03 14:10:02</td>   <td>15</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNG_Parser.testMock2()[pri:0, instance:be.iesca.tests.TestNG_Parser@10276f2]">testMock2</td> 
  <td>main@17510567</td>   <td></td> </tr>
<tr bgcolor="6bf0aa">  <td>14/03/03 14:10:02</td>   <td>19</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNG_Parser.testMock3()[pri:0, instance:be.iesca.tests.TestNG_Parser@10276f2]">testMock3</td> 
  <td>main@17510567</td>   <td></td> </tr>
<tr bgcolor="6bf0aa">  <td>14/03/03 14:10:02</td>   <td>21</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNG_Parser.testMock4()[pri:0, instance:be.iesca.tests.TestNG_Parser@10276f2]">testMock4</td> 
  <td>main@17510567</td>   <td></td> </tr>
<tr bgcolor="6bf0aa">  <td>14/03/03 14:10:02</td>   <td>25</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNG_Parser.testMock5()[pri:0, instance:be.iesca.tests.TestNG_Parser@10276f2]">testMock5</td> 
  <td>main@17510567</td>   <td></td> </tr>
<tr bgcolor="6bf0aa">  <td>14/03/03 14:10:02</td>   <td>28</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNG_Parser.testMock6()[pri:0, instance:be.iesca.tests.TestNG_Parser@10276f2]">testMock6</td> 
  <td>main@17510567</td>   <td></td> </tr>
<tr bgcolor="6bf0aa">  <td>14/03/03 14:10:02</td>   <td>31</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNG_Parser.testMockPostgres1()[pri:0, instance:be.iesca.tests.TestNG_Parser@10276f2]">testMockPostgres1</td> 
  <td>main@17510567</td>   <td></td> </tr>
<tr bgcolor="6bf0aa">  <td>14/03/03 14:10:02</td>   <td>34</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNG_Parser.testPostgres1()[pri:0, instance:be.iesca.tests.TestNG_Parser@10276f2]">testPostgres1</td> 
  <td>main@17510567</td>   <td></td> </tr>
<tr bgcolor="6bf0aa">  <td>14/03/03 14:10:02</td>   <td>37</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNG_Parser.testPostgres2()[pri:0, instance:be.iesca.tests.TestNG_Parser@10276f2]">testPostgres2</td> 
  <td>main@17510567</td>   <td></td> </tr>
<tr bgcolor="6bf0aa">  <td>14/03/03 14:10:02</td>   <td>40</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNG_Parser.testPostgres3()[pri:0, instance:be.iesca.tests.TestNG_Parser@10276f2]">testPostgres3</td> 
  <td>main@17510567</td>   <td></td> </tr>
<tr bgcolor="6bf0aa">  <td>14/03/03 14:10:02</td>   <td>44</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNG_Parser.testPostgres4()[pri:0, instance:be.iesca.tests.TestNG_Parser@10276f2]">testPostgres4</td> 
  <td>main@17510567</td>   <td></td> </tr>
<tr bgcolor="6bf0aa">  <td>14/03/03 14:10:02</td>   <td>47</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNG_Parser.testPostgres5()[pri:0, instance:be.iesca.tests.TestNG_Parser@10276f2]">testPostgres5</td> 
  <td>main@17510567</td>   <td></td> </tr>
<tr bgcolor="6bf0aa">  <td>14/03/03 14:10:02</td>   <td>50</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNG_Parser.testPostgres6()[pri:0, instance:be.iesca.tests.TestNG_Parser@10276f2]">testPostgres6</td> 
  <td>main@17510567</td>   <td></td> </tr>
<tr bgcolor="6bf0aa">  <td>14/03/03 14:10:02</td>   <td>53</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNG_Parser.testPostgres7()[pri:0, instance:be.iesca.tests.TestNG_Parser@10276f2]">testPostgres7</td> 
  <td>main@17510567</td>   <td></td> </tr>
<tr bgcolor="ce7387">  <td>14/03/03 14:10:02</td>   <td>59</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNG_ClasseRobotDao.initialiserListeClasseRobots()[pri:0, instance:be.iesca.tests.TestNG_ClasseRobotDao@1ff6a5f]">&gt;&gt;initialiserListeClasseRobots</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@17510567</td>   <td></td> </tr>
<tr bgcolor="ce7387">  <td>14/03/03 14:10:03</td>   <td>1360</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNG_ClasseRobotDao.testAjouter()[pri:0, instance:be.iesca.tests.TestNG_ClasseRobotDao@1ff6a5f]">testAjouter</td> 
  <td>main@17510567</td>   <td></td> </tr>
<tr bgcolor="ce7387">  <td>14/03/03 14:10:03</td>   <td>1425</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNG_ClasseRobotDao.testLister()[pri:0, instance:be.iesca.tests.TestNG_ClasseRobotDao@1ff6a5f]">testLister</td> 
  <td>main@17510567</td>   <td></td> </tr>
<tr bgcolor="ce7387">  <td>14/03/03 14:10:03</td>   <td>1432</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNG_ClasseRobotDao.testRechercher()[pri:0, instance:be.iesca.tests.TestNG_ClasseRobotDao@1ff6a5f]">testRechercher</td> 
  <td>main@17510567</td>   <td></td> </tr>
<tr bgcolor="ce7387">  <td>14/03/03 14:10:03</td>   <td>1445</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNG_ClasseRobotDao.testSupprimer()[pri:0, instance:be.iesca.tests.TestNG_ClasseRobotDao@1ff6a5f]">testSupprimer</td> 
  <td>main@17510567</td>   <td></td> </tr>
<tr bgcolor="ce7387">  <td>14/03/03 14:10:03</td>   <td>1452</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestNG_ClasseRobotDao.viderLaTable()[pri:0, instance:be.iesca.tests.TestNG_ClasseRobotDao@1ff6a5f]">&lt;&lt;viderLaTable</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@17510567</td>   <td></td> </tr>
<tr bgcolor="646b85">  <td>14/03/03 14:10:03</td>   <td>1454</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNG_UserDao.test1()[pri:0, instance:be.iesca.tests.TestNG_UserDao@cf2e49]">test1</td> 
  <td>main@17510567</td>   <td></td> </tr>
<tr bgcolor="646b85">  <td>14/03/03 14:10:03</td>   <td>1485</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNG_UserDao.test2()[pri:0, instance:be.iesca.tests.TestNG_UserDao@cf2e49]">test2</td> 
  <td>main@17510567</td>   <td></td> </tr>
<tr bgcolor="646b85">  <td>14/03/03 14:10:03</td>   <td>1513</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNG_UserDao.test3()[pri:0, instance:be.iesca.tests.TestNG_UserDao@cf2e49]">test3</td> 
  <td>main@17510567</td>   <td></td> </tr>
<tr bgcolor="646b85">  <td>14/03/03 14:10:04</td>   <td>1542</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNG_UserDao.test4()[pri:0, instance:be.iesca.tests.TestNG_UserDao@cf2e49]">test4</td> 
  <td>main@17510567</td>   <td></td> </tr>
</table>
